* {
  font-family: Arial, Helvetica, sans-serif;
}

#customers {
  border-collapse: collapse;
  width: 90%;

}

#customers td,
#customers th {
  border: 1px solid #ddd;
  padding: 8px; 
  
}

#customers tr:nth-child(even) {
  background-color: #f2f2f2;
}

#customers tr:hover {
  background-color: #ddd;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #121b18;
  color: white;
}

.container {
  margin: 0px 50px;
}

.emp {
  text-align: center;
}

.edit-button,
.delete-button,
.go-back,
.add-user {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  margin: 5px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
}

.edit-button:hover,
.delete-button:hover,
.add-button:hover {
  background-color: #072546;
  color: #fff;
}

.add-button {
  background-color: #ec1745;
  color: #fff;
  border: none;
  padding: 10px 18px;
  margin-top: 12px;
  cursor: pointer;
  font-size: 13px;
  border-radius: 4px;
  font-weight: bold;
}

.second {
  width: 90%;
  padding: 20px;
}

form {
  margin-left: 30%;
  margin-top: 5%;
}

input[type=email],
input[type=number],
input[type=date],

select,
.name {
  width: 40%;
  display: block;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.second-header {
  text-align: center;
  color: #b80a30;
}

.radio-buttons {
  display: flex;
  flex-direction: column;
}

.custom-radio {
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 16px;
}

.custom-radio input {
  margin-right: 8px;
}

.custom-radio input:checked+label {
  font-weight: bold;
  color: #007bff;
}

.custom-radio label {
  transition: color 0.3s, font-weight 0.3s;
}

nav {
  background-color: #333;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: none;
}

.logo {
  font-size: 1.5em;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-input {
  padding: 8px;
  border-radius: 4px 0 0 4px;
  margin-right: 5px;
  width: 200px;
}

@media only screen and (max-width :600px) {
  nav {
    width: 95%;
    align-items: center;
  }

  .container {
    margin: 0px 5px;
  }

  #customers {
    width: 5%
  }

  #customers td,
  #customers th {
    border: 1px solid #ddd;
    padding: 5px;
  }

  #customers th {
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .emp {
    font-size: 20px;
  }

  .second {
    width: 100%;
    padding: 0%;
  }

  form {
    margin-left: 5%;
  }

  input[type=email],
  input[type=number],
  input[type=date],
  select,
  .name {
    width: 90%;
    margin-bottom: 8px
  }

}